.body-container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  font-size: 92px;
  font-weight: bold;
  /* font-family: Roboto; */
  color: #030712;
  /* margin-bottom: -15px; */
  line-height: 1em;
  margin-bottom: 10px;
  padding-top: 20px;
}

.card-header {
  font-size: 52px;
  font-weight: bold;
  /* font-family: Roboto; */
  color: #030712;
  /* margin-bottom: -15px; */
  line-height: 1em;
  margin-bottom: -10px;
  /* padding-top: 0px; */
  margin-top: 0px;
}

/* rgba(76, 86, 99, 0.88) */
/* 26px */


.sub-header {
  /* font-family: Roboto; */
  font-size: 32px;
  /* font-weight: 500; */
  color: #4b5563;
  line-height: 1.1em;
  padding-left: 5px;
}

.medium-text {
  font-size: 28px;
  color: #4b5563;
  font-weight: 300;
  line-height: 1.2em;
  word-wrap: break-word;
  font-weight: 400;
}

.medium-text-higlight {
  font-size: 28px;
  color: #4b5563;
  font-weight: 300;
  line-height: 1.2em;
  word-wrap: break-word;
  font-weight: 500;
}

.card-body {
  font-size: 24px;
  font-weight: thin;
  color: #030712;
}

body {
  font-family: Roboto;
}

.body-container {
  max-width: 1250px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.big-container {
  display: flex;
  align-items: center;
}

.large-image-and-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 120px;
  gap: 30px;
  /* align-items: center; */
  /* gap: 10px; */
}

.call-to-action-container {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-self: center;
  gap: 20px;
  /* width: 1200px; */
  word-wrap: normal;
  flex-grow: 1;
  /* gap: 5px; */
  /* max-width: 800px; */
}

.profile-image {
  width: 100%;
  max-width: 400px;
  align-self: center;
  flex-grow: 0;
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  /* Adds shadow */
  /* transition: transform 0.3s ease; */
  transition: transform 0.5s, box-shadow 0.5s;

  /* Rosponsive hover effect using transition */
  /* perspective: 1000px; */
}

/* .image-container img {
  transform: scale(1);
  transition: transform 0.5s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
} */

.profile-image:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}

.card {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: auto;
}


.contact-button {
  /* background-color: hsl(0, 7%, 82%); */
  color: #030712;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  /* text-decoration: none; */
  display: inline-block;
  margin: 2px 1px;
  border: 2px;
  border-color: #030712;
  border-radius: 5px;
  margin-top: 0px;
  margin-right: auto;
}

.nudget-image {
  order: 1;
  margin-bottom: 20px;
}

.nudget-container { 
  margin-top: 0px;
}

.nudget-text {
  order: 2;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.contact-button:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

.contact-button:hover:after {
  width: 100%;
}

.photo-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  width: 25%;
  max-width: 400px;
  align-self: center;
  flex-grow: 0;
  border-radius: 10px;
}

/* .photo-stack:hover */
/* .photo {
  position: absolute;
  max-width: 400px;
  transition: all 0.3s ease-out;
  opacity: 0.25;
} */

/* 
.photo:hover {
  position: absolute;
  max-width: 400px;
  transition: all 0.3s ease-out;
  opacity: 1;
  scale: 1.05;
} */

.photo {
  position: absolute;
  max-width: 400px;
  transition: all 0.25s ;
  border-radius: 10px;

}

.photo:nth-child(1) {
  z-index: 1;
  transform: rotateZ(-4deg) translateX(-75px) translateY(-150px);
}

.photo:nth-child(2) {
  z-index: 2;
  transform: rotateZ(3deg) translateX(90px);
}

.photo:nth-child(3) {
  z-index: 3;
  transform: rotateZ(-2deg) translateX(-60px) translateY(150px);
}



/*
 .photo-stack:hover .photo:nth-child(1) {
  transform: rotateZ(-2deg) translateX(-100px);
}

.photo-stack:hover .photo:nth-child(2) {
  transform: rotateZ(-2deg) translateY(-150px);
}

.photo-stack:hover .photo:nth-child(3) {
  transform: rotateZ(2deg) translateX(100px);
} 

/*
/* SIZE TBD */
@media screen and (min-width: 600px) {

  .profile-image {
    width: 45%;
    max-width: 300px;
    align-self: start;
  }

  .card-header {
    font-size: 32px;
  }

  .large-image-and-text-container {
    /* padding: 20px; */
    flex-direction: row;
    gap: 40px;
    /* margin-bottom: 80px; */
    /* margin-top: 40px; */

  }

  .medium-text {
    font-size: 18px;
  }

  .nudget-image {
    order: 2;
  }

  .nudget-text {
    order: 1;
  }
}


@media screen and (min-width: 800px) {
  .large-image-and-text-container {
    /* padding: 20px; */
    flex-direction: row;
  }
  
  .profile-image {
    width: 45%;
    max-width: 300px;
    align-self: start;

  }

  .card-header {
    font-size: 42px;
  }

  .medium-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 915px) {
  .card-header {
    font-size: 52px;
  }

  .medium-text {
    font-size: 24px;
  }

  .large-image-and-text-container {
    gap: 80px;
    margin-bottom: 150px;
  }
  /* .header {
    padding-top: 20px;
  } */
}

/* @media screen and (min-width: 980) {
  .profile-image {
    width: 45%;
    max-width: 300px;
    align-self: start;

  }

  .card-header {
    font-size: 200px;
  }

  .medium-text {
    font-size: 100px;
  }
} */


@media screen and (min-width: 1155px) {
  .profile-image {
    width: 50%;
    max-width: 500px;
  }

  .large-image-and-text-container {
    gap: 140px;
    margin-bottom: 200px;
  }

  .header {
    font-size: 152px;
    padding-top: 40px;
  }

  .sub-header {
    font-size: 36px;
  }

  .header-block {
    padding-top: 0px;
    margin-bottom: 20px;
  }

  .medium-text {
    font-size: 32px;
  }


  .body-container {
    /* padding: 60px; */
  }

  .contact-button {
    font-size: 32px;
  }
}